In [2]:
import pandas as pd
import os

In [3]:
baseFile = "201801-citibike-tripdata"

In [4]:
os.getcwd()

'C:\\Users\\tammy\\SMU\\homework\\Wk_20_Tableau'

In [7]:
allFilePaths = []

for i in range(1, 13):
    #get month in format used in file name
    month = i
    if (i < 10):
        #months less than 10 need a leading 0
        month = "0" + str(i)
    #print(month)
    
    #create filename dynamically
    subFolder = "Data/"
    fileName = f"{subFolder}2018{month}-citibike-tripdata.csv"
    allFilePaths.append(fileName)
    
#Print all file paths
allFilePaths

['Data/201801-citibike-tripdata.csv',
 'Data/201802-citibike-tripdata.csv',
 'Data/201803-citibike-tripdata.csv',
 'Data/201804-citibike-tripdata.csv',
 'Data/201805-citibike-tripdata.csv',
 'Data/201806-citibike-tripdata.csv',
 'Data/201807-citibike-tripdata.csv',
 'Data/201808-citibike-tripdata.csv',
 'Data/201809-citibike-tripdata.csv',
 'Data/201810-citibike-tripdata.csv',
 'Data/201811-citibike-tripdata.csv',
 'Data/201812-citibike-tripdata.csv']

In [8]:
df = pd.DataFrame()

for path in allFilePaths:
    df = df.append(pd.read_csv(path))
    
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17548339 entries, 0 to 1016504
Data columns (total 15 columns):
tripduration               int64
starttime                  object
stoptime                   object
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     int64
usertype                   object
birth year                 int64
gender                     int64
dtypes: float64(6), int64(4), object(5)
memory usage: 2.1+ GB

In [9]:
len(df)

17548339

In [10]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [11]:
df.starttime = pd.to_datetime(df.starttime)
df.stoptime = pd.to_datetime(df.stoptime)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17548339 entries, 0 to 1016504
Data columns (total 15 columns):
tripduration               int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     int64
usertype                   object
birth year                 int64
gender                     int64
dtypes: datetime64[ns](2), float64(6), int64(4), object(3)
memory usage: 2.1+ GB

In [13]:
df["Month"] = [x.month for x in df.starttime]
df["Day"] = [x.day for x in df.starttime]

In [14]:
df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month,Day
1016500,734,2018-12-31 23:55:06.991,2019-01-01 00:07:21.230,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,379.0,W 31 St & 7 Ave,40.749156,-73.991600,27111,Subscriber,1986,1,12,31
1016501,2551,2018-12-31 23:55:44.307,2019-01-01 00:38:15.782,3320.0,Central Park West & W 100 St,40.794067,-73.962868,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,16390,Customer,1969,0,12,31
1016502,2376,2018-12-31 23:56:52.850,2019-01-01 00:36:29.286,427.0,Bus Slip & State St,40.701907,-74.013942,259.0,South St & Whitehall St,40.701221,-74.012342,34398,Subscriber,1979,1,12,31
1016503,2758,2018-12-31 23:58:29.212,2019-01-01 00:44:27.517,3320.0,Central Park West & W 100 St,40.794067,-73.962868,281.0,Grand Army Plaza & Central Park S,40.764397,-73.973715,30818,Customer,1969,0,12,31
1016504,2459,2018-12-31 23:59:51.085,2019-01-01 00:40:50.880,128.0,MacDougal St & Prince St,40.727103,-74.002971,402.0,Broadway & E 22 St,40.740343,-73.989551,34775,Subscriber,1996,2,12,31

In [15]:
dfSub = df.sample(frac=0.02, random_state=22)

dfSub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350967 entries, 1382565 to 1228008
Data columns (total 17 columns):
tripduration               350967 non-null int64
starttime                  350967 non-null datetime64[ns]
stoptime                   350967 non-null datetime64[ns]
start station id           350914 non-null float64
start station name         350914 non-null object
start station latitude     350967 non-null float64
start station longitude    350967 non-null float64
end station id             350914 non-null float64
end station name           350914 non-null object
end station latitude       350967 non-null float64
end station longitude      350967 non-null float64
bikeid                     350967 non-null int64
usertype                   350967 non-null object
birth year                 350967 non-null int64
gender                     350967 non-null int64
Month                      350967 non-null int64
Day                        350967 non-null int64
dtypes: datetime64[ns](2), float64(6), int64(6), object(3)
memory usage: 48.2+ MB

In [18]:
dfSub.groupby(["Month"]).Month.count() / len(dfSub)

Month
1     0.041109
2     0.047235
3     0.056094
4     0.074885
5     0.103805
6     0.111426
7     0.109802
8     0.113108
9     0.105708
10    0.107110
11    0.072135
12    0.057584
Name: Month, dtype: float64

In [19]:
df.groupby(["Month"]).Month.count() / len(df)

Month
1     0.040972
2     0.048045
3     0.055656
4     0.074511
5     0.103982
6     0.111298
7     0.109049
8     0.112670
9     0.107012
10    0.107056
11    0.071822
12    0.057926
Name: Month, dtype: float64

In [17]:
dfSub.to_csv("Data/randomSample.csv", index=False)